$normalColor: #267AFA;
$normalBg: #343439;


$light-blue:#3A71A8;
$pink: #E65D6E;
$panGreen: #30B08F;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$red:#C03639;
$blue:#324157;

//sidebar
$menuBg:#343439;
$subMenuBg:#1b1b1d;
$menuHover:#267AFA;

//font
$fontColor: #999c9e; //默认颜色
$fontSize: 14px; //默认大小
$fontSizeTile: 16px; //标题大小

//button

$primaryColor: #267AFA;
$primaryHover: #669AFF;
$dangerColor: #FE5B63;
$dangerHover: #FF9999;
$warningColor: #FF8830;
$warningHover: #FF9965;
$successColor: #1DD49F;
$successHover: #56DFB7;
$purpleColor: #A988FF;
$purpleHover: #BEA6FF;
//tag

$formThColor:#d3d3d3;
$formThBg:#edf2f8;

// table
$tableHeaderColor: #606266;

