.check_box_item{
    min-width: 120px;
    margin-right: 20px;
  }
  .verson{
    .el-form-item{
      margin-bottom: 0px;
    }
  }
.el-form-item-user{
    width: 30%;
    margin-right: 20px;
}
.el-form-item-date{
    margin-right: 20px;
}