@import '../../../styles/variables';

.orderList {
	.table-list-title {
		color: $tableHeaderColor;
		font-weight: bold;

		.table-list-title-txt {
			padding-left: 10px;

			p {
				margin-right: 20px;
			}
		}

		.table-list-title-opera {
			padding-right: 10px;
			text-align: center;
			color: rgb(54, 154, 241);

			a:hover {
				color: rgb(103, 184, 255);
			}
		}
	}

	.table-list-content {
			border-bottom: 1px solid $formThColor;
			padding: 10px 0;
			.table-list-content-img {
				padding-left: 10px;

				img {
					width: 80px;
					height: 80px;
					border: 1px solid $formThColor;
					flex: 0 0 80px;
					border-radius: 8px;
					margin-right: 7px;
					cursor: pointer;
				}

				.margin-bottom {
					padding-right: 10px;
				}
			}


			p {
				color: $tableHeaderColor;
				word-wrap: break-word;
				word-break: break-all;

			}

			&:nth-last-child(1) {
				border-bottom: none;
			}

		>.table-list-content-txt {
			color: $tableHeaderColor;
			padding: 10px 0;
		}
	}

	.table-list-content-btn {
        padding-right: 10px;
        color: $tableHeaderColor;
	}

	.table-list-footer {
		color: $tableHeaderColor;
		font-weight: bold;
		border-top: 1px solid $formThColor;
		background: rgb(242, 242, 242);
		padding: 10px;
		.table-list-footer-text {
			max-width: 50%;
		}
		>div:nth-child(1) {
			p {
				margin-right: 15px;
				span {
					font-size: 12px;
					color: $warningColor;
				}
			}
		}
	}

	.txt-center {
		text-align: center;
	}

	.margin-bottom {
		margin-bottom: 5px;
    }

    .mark {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
    }

    .order-num {
        span{
            font-weight: bold;
            color: $warningColor;
        }
    }

    .choose-title {
        i {
            color: $normalColor;
            font-size: 16px;
            cursor: default;
            margin-top: 3px;
            margin-right: 3px;
        }
        p {
            font-size: 16px;
            margin-right: 10px;
            span{
                color: $tiffany;
                font-weight: bold;
            }
        }
	}

	.detail-btn {
		width: calc(12.5% - 2.5px);
	}
}
